/*
* @Author: admin
* @Date:   2018-09-21 11:48:58
* @Last Modified by:   admin
* @Last Modified time: 2018-09-28 09:44:14
*/
*{
	margin: 0px;
	padding: 0px;
}
li{
	list-style: none;
}
a{
	text-decoration: none;
	color: blue;
}
header{
	width: 1200px;
	margin: 10px auto;
	overflow: hidden;
}
header .left{
	width: 150px;
	float: left;
	margin-left: 20px;
}
header .logo{
	display: inline-block;
	width: 95px;
	height: 43px;
	background: url('../image/jinglingtu.png') no-repeat -3px -588px;
}
header .center{
	width: 670px;
	height: 40px;
	border: 1px solid #ccc;
	float: left;
	margin-left: 30px;
	border-radius: 5px;
}
header .center #select{
	width: 120px;
	height: 40px;
	float: left;
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
	font-size: 18px;
}
header .center .search{
	width: 500px;
	height: 40px;
	float: left;
	font-size: 18px;
	outline: none;
	border: none;
	border: 1px solid #ccc;
}
header .center .tp{
	width: 50px;
	height: 40px;
	background-color: #666;
	float: left;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
}
header .center .tp span{
	display: inline-block;
	width: 40px;
	height: 40px;
	background: url('../image/jinglingtu1.png') no-repeat -30px -280px;
}


nav{
	width: 100%;
	height: 45px;
	position: relative;
	z-index: 2;
	background-image:linear-gradient(rgba(41,41,41,0.75) 20% ,
rgba(54,54,54,0.72) 75%,rgba(24,23,23,0.94) 10%);
	border-radius: 4px;
	color: #fff;
	box-shadow:0px 0px 6px #000;
	font-family: "楷体";
}
nav a{
	color: #fff;
}
nav .kind{
	float: left;
	width: 110px;
	height: 100%;
	position: relative;
	zoom: 1;
	border-right: 1px solid #000;
}
nav .kind::after{
	content: "";
	display: block;
	clear: both;
}
nav .kind p{
	font-size: 14px;
}
nav .kind span{
	display: inline-block;
	background: url('../image/jinglingtu.png') -379px -85px no-repeat;
	width: 15px;
	height: 10px;
	position: absolute;
	top: 25px;
	right: -5px;
}
nav .logo{
	height: 100%;
	float: left;
}
nav .logo ul{
	overflow: hidden;
}
nav .logo ul li{
	width: 150px;
	height: 45px;
	float: left;
}
nav .logo ul li:nth-of-type(6){
	padding-right: 2px;
}
nav .logo ul li a{
	height: 45px;
	width: 150px;
	display: inline-block;
	margin-right: 40px;
	text-align: center;
	line-height: 45px;
	border-right: 1px solid #000;
}
nav .account{
	float: left;
	width: 120px;
	height: 45px;
	text-align: center;
	border-right: 1px solid #000;
	position: relative;
}
nav .account p{
	font-size: 14px;
}
nav .account span{
	display: inline-block;
	background: url('../image/jinglingtu.png') no-repeat -379px -85px;
	width: 15px;
	height: 10px;
	position: absolute;
	top: 23px;
	right: 10px;
}
nav .account .menu{
	position: absolute;
	top: 43px;
	left: 0px;
	z-index: 10;
	width: 120px;
	text-align: center;
	color: #333; 
	display: none;
}
nav .account ul li{
	width: 120px;
	height: 25px;
	border:none;
	line-height: 25px;
	border-top:1px solid #989898;
	background:rgba(10,5,5,0.45);
	border-radius:10px;	
}
nav .shopcar{
	width: 100px;
	height: 45px;
	float: left;
	position: relative;
	border-right: 1px solid #000;
}
nav .shopcar p{
	float: right;
	margin-top: 20px;
}
nav .shopcar span{
	display: inline-block;
	background: url('../image/jinglingtu.png') no-repeat -154px -234px;
	width: 50px;
	height: 40px;
	position: absolute;
	top: 0px;
	left: 0px;
}
nav .wish{
	width: 114px;
	height: 45px;
	float: left;
	position: relative;
}
nav .wish p{
	text-align: center;
	line-height: 45px;
}
nav .wish ul{
	display: none;
}
nav .wish span{
	display: inline-block;
	background: url('../image/jinglingtu.png') no-repeat -379px -85px;
	width: 15px;
	height: 10px;
	position: absolute;
	top: 20px;
	right: 10px;
}
nav .wish ul{
	position: absolute;
	top: 43px;
	left: 0px;
	z-index: 10;
	width: 120px;
	text-align: center;
	color: #333; 
	display: none;
}
nav .wish ul li{
	width: 120px;
	height: 25px;
	border:none;
	line-height: 25px;
	border-top:1px solid #989898;
	background:rgba(10,5,5,0.45);
	border-radius:10px;	
}
nav .kind:hover
{
	border-radius:10px 0px 0px 10px;
}	
nav .wish:hover
{
	border-radius:0px 10px 10px 0px;
}
nav .account .menu ul li:hover{
	background:rgba(10,5,5,0.8);
	border-radius:10px;
}
nav .wish ul li:hover{
	background:rgba(10,5,5,0.8);
	border-radius:10px;
}
nav .account:hover .menu{
	display:block;
	animation:roll 1.5s ease;
	transform-origin: top center;
}
nav .wish ul li:hover{
	background:rgba(10,5,5,0.8);
	border-radius:10px;
}
nav .wish:hover ul{
	display:block;
	animation:roll 1.5s ease;
	transform-origin: top center;
}
@keyframes roll {
	0% {
		transform:rotate(0deg);
	}
	100% {
		transform:rotate(360deg);
	}
}


.bg{
	position: relative;
	z-index: 0;
	margin: 0px auto;
	width: 100%;
	background: url('../image/big.jpg');
	height: 510px;
	background-position: top center;
	transition: all 1s ease-in-out;
	transition: all 1s ease-in-out;
	background-size: 100%;
	background-position: top center;
	background-repeat: no-repeat; 
}
.bg:hover{
	background-size: 120%;
}
.bg ul li h2{
	color: #fff;
	font-size: 30px;
	text-align: center;
	font-weight: normal;
	padding-top: 150px;
}
.bg div{
  	width: 100%;
 	height: 100%;
 	background: rgba(0, 0, 0, 0.5);
 }
.bg div li:nth-of-type(2){
	font-size: 18px;
	margin-top: 50px;
}
.bg a{
	display: block;
	width: 150px;
	height: 40px;
	background: #ff9900;
	border-radius: 5px;
	color: #fff;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	line-height: 40px;
}

main{
	width: 100%;
}
main .choose{
	width: 100%;
	color: #ff9900;
}
main .choose h3{
	text-align: center;
	font-size: 30px;
	padding-top: 50px;
	letter-spacing: 2px;
}
main .choose ul{
	zoom: 1;
	margin-left: 20px;
	margin-top: 20px;
}
main .choose ul::after{
	content: "";
	clear: both;
	display: block;
}
main .choose ul li{
	float: left;
	margin-right: 70px;
}
main .choose ul li img{
	float: left;
	margin-right: 10px;
}
main .choose ul li .txt{
	float: left;
	padding-top: 25px;
}
main .two{
	width: 100%;
	height: 80px;
	background: #303942;
	overflow: hidden;
}
main .two p a{
	display: block;
	width: 120px;
	height: 30px;
	background: #0097d6;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	line-height: 30px;
	margin-top: 30px;
	border-radius: 5px;
	color: #fff;
}

main .process{
	width: 100%;
}
main .process ul{
	overflow: hidden;
	margin-left: 100px;
}
main .process ul li{
	overflow: hidden;
	margin-top: 30px;
}
main .process img{
	width: 100px;
	float: left;
	margin-right: 100px;
}
main .process span{
	display: block;
	width: 800px;
	float: left;
}
main .process span p{
	font-size: 14px;
	margin-top: 10px;
}
main .process span h4{
	text-indent: 2em;
}
main .process>a{
	display: block;
	width: 120px;
	height: 30px;
	background: #ff9900;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	line-height: 30px;
	margin-top: 30px;
	border-radius: 5px;
	color: #fff;
}

main .recommend{
	margin-top: 70px;
	border-top: 1px solid #333;
}
main .recommend .hot .top{
	display: block;
	width: 100%;
	overflow: hidden;
}
main .recommend .hot .top p{
	margin-top: 10px;
	margin-left: 10px;
	margin-bottom: 10px;
}
main .recommend .hot .top b{
	font-size: 14px;
}
main .recommend .hot .top b:nth-of-type(1){
	float: left;
	margin-left: 10px;
}
main .recommend .hot .top b:nth-of-type(2){
	float: right;
	margin-right: 10px;
}
main .hot .goods01{
	margin-top: 30px;
	width: 100%;
	position: relative;
	overflow: hidden;
}
main .hot .goods01 ul{
	width: 5000px;
	overflow: hidden;
	margin-left: 50px;
}
main .hot .goods01 ul li{
	float: left;
	width: 180px;
	height: 250px;
	font-size: 14px;
	margin-right: 40px;
}
main .hot .goods01 ul li:nth-of-type(7n){
	margin-left: 54px;
}
main .hot .goods01 ul li a{
	width: 150px;
	overflow:hidden; 
	text-overflow:ellipsis;
	display:-webkit-box; 
	-webkit-box-orient:vertical;
	-webkit-line-clamp:1;  
}
main .hot .goods01 ul li .price{
	color: #ba5b5e;
}
main .hot .goods01 ul li span:nth-of-type(1){
	display: inline-block;
	background: url('../image/jinglingtu.png') no-repeat -175px -366px;
	width: 78px;
	height: 15px;
} 
 main .hot .goods01>span{
	display: inline-block;
	width: 30px;
	height: 50px;
	background: #eee;
	border-radius: 5px;
	font-size: 40px;
	text-align: center;
	line-height: 50px;
	position: absolute;
	top: 50%;
	margin-left: -15px;
	cursor: pointer;
}
main .hot .goods01 .left{
	left: 20px;
}
main .hot .goods01 .right{
	right: 20px;
} 

main .recommend .like .top{
	display: block;
	width: 100%;
	overflow: hidden;
}
main .recommend .like .top p{
	margin-top: 10px;
	margin-left: 10px;
	margin-bottom: 10px;
}
main .recommend .like .top b{
	font-size: 14px;
}
main .recommend .like .top b:nth-of-type(1){
	float: left;
	margin-left: 10px;
}
main .recommend .like .top b:nth-of-type(2){
	float: right;
	margin-right: 10px;
}
main .like .goods02{
	margin-top: 30px;
	width: 100%;
	position: relative;
	overflow: hidden;
}
main .like .goods02 ul{
	width: 5000px;
	overflow: hidden;
	margin-left: 50px;
}
main .like .goods02 ul li{
	float: left;
	width: 180px;
	height: 250px;
	font-size: 14px;
	margin-right: 40px;
}
main .like .goods02 ul li:nth-of-type(7n){
	margin-left: 54px;
}
main .like .goods02 ul li img{
	width: 100px;
}
main .like .goods02 ul li a{
	width: 150px;
	overflow:hidden; 
	text-overflow:ellipsis;
	display:-webkit-box; 
	-webkit-box-orient:vertical;
	-webkit-line-clamp:3;  
}
main .like .goods02 ul li span:nth-of-type(1){
	display: inline-block;
	background: url('../image/jinglingtu.png') no-repeat -5px -366px;
	width: 66px;
	height: 15px;
} 
main .like .goods02 ul li span:nth-of-type(2){
	display: block;
	overflow: hidden;
}
main .like .goods02 ul li span p{
	float: left;
	margin-right: 2px;
	color: #ba5b5e;
}
main .like .goods02 ul li span div{
	display: inline-block;
	background: url('../image/jinglingtu.png') no-repeat -4px -491px;
	width: 55px;
	height: 20px;
	float: left;
} 
 main .like .goods02>span{
	display: inline-block;
	width: 30px;
	height: 50px;
	background: #eee;
	border-radius: 5px;
	font-size: 40px;
	text-align: center;
	line-height: 50px;
	position: absolute;
	top: 50%;
	margin-left: -15px;
	cursor: pointer;
}
main .like .goods02 .left{
	left: 20px;
}
main .like .goods02 .right{
	right: 20px;
} 


footer{
	margin-top: 20px;
}
footer a{
	color: blue;
}
footer .login{
	border-top: 1px solid #666;
	border-bottom: 1px solid #666;
}
footer .login>p{
	color: #666;
}
footer .login li{
	width: 250px;
	text-align: center;
	font-size: 14px;
	overflow: hidden;
	margin: 10px auto;
}
footer .login ul li a:nth-of-type(1){
	display: inline-block;
	width: 200px;
	height: 30px;
	text-align: center;
	color: #000;
	line-height: 30px;
	border-radius: 5px;
	background: linear-gradient(#ffd774,#ffc530);
}
footer .login li p:nth-of-type(2){
	float: left;
	margin-left: 70px;
	margin-right: 10px;
}
footer .login li a:nth-of-type(2){
	float: left;
}


footer .about{
	width: 1000px;
	margin: 0px auto;	
	overflow: hidden;
	text-align: left;
}
footer .about a{
	display: inline-block;
	font-size: 14px;
	width: 200px;
}
footer .about ul{
	width: 200px;
	float: left;
	margin-right: 30px;
}
footer .about p{
	margin-bottom: 10px;
}
footer .other .title{
	margin-top: 10px;
	text-align: center;
}
footer .other .one{
	width: 100%;
	text-align: center;
	overflow: hidden;
	margin: 10px auto;
}
footer .other .one ul{
	text-align: center;
	float: left;
	line-height: 14px;
}
footer .other .one ul:nth-of-type(1){
	margin-left: 100px;
}
footer .other .one ul li{
	display: inline;
	border-left: 1px solid #666;
	padding: 0px 5px;
	font-size: 12px;
}
footer .other .one ul li:nth-of-type(1){
	border: none;
}
footer .other .one span{
	display: inline-block;
	padding: 0px 10px;
	text-align: center;
	font-size: 12px;
	float: left;
	color: #767676;
}
footer .other .one ul:nth-of-type(2) li:nth-of-type(4){
	color: #767676;
}
footer .other .two{
	width: 100%;
	text-align: center;
	overflow: hidden;
	margin: 10px auto;
}
footer .other .two ul{
	text-align: center;
	float: left;
	line-height: 14px;
}
footer .other .two ul{
	margin-left: 450px;
}
footer .other .two ul:nth-of-type(2){
	width: 0px;
	height: 0px;
}
footer .other .two ul li{
	display: inline;
	border-left: 1px solid #666;
	padding: 0px 5px;
	font-size: 12px;
}
footer .other .two ul li:nth-of-type(1){
	border: none;
}
footer .other .two span{
	display: inline-block;
	padding: 0px 10px;
	text-align: center;
	font-size: 12px;
	float: left;
	color: #767676;
}
footer .other .three{
	width: 100%;
	text-align: center;
	overflow: hidden;
	margin: 10px auto;
}
footer .other .three ul{
	text-align: center;
	float: left;
	line-height: 14px;
	margin-left: 480px;
}
footer .other .three ul li{
	display: inline;
	border-right: 1px solid #666;
	padding: 0px 5px;
	font-size: 12px;
}
footer .other .three ul li:nth-of-type(2){
	border: none;
}
footer .other .three ul li img{
	vertical-align: top;
}

footer .other .four{
	width: 100%;
	text-align: center;
	overflow: hidden;
	margin: 10px auto;
}
footer .other .four ul{
	text-align: center;
	float: left;
	line-height: 14px;
	margin-left: 670px;
}
footer .other .four ul li{
	display: inline;
	padding: 0px 5px;
	font-size: 12px;
}

footer .other .five{
	width: 100%;
	text-align: center;
	overflow: hidden;
	margin: 10px auto;
}
footer .other .five ul{
	text-align: center;
	float: left;
	line-height: 14px;
	margin-left: 550px;
}
footer .other .five ul li{
	display: inline;
	border-right: 1px solid #666;
	padding: 0px 5px;
	font-size: 12px;
	color: #767676;
}
footer .other .five ul li:nth-of-type(2){
	border: none;
}





















