/*
* @Author: ABC
* @Date:   2018-09-23 18:57:11
* @Last Modified by:   admin
* @Last Modified time: 2018-09-28 09:08:24
*/
*{
	margin: 0px;
	padding: 0px;
}
.clearboth{
        zoom: 1;
      }
.clearboth::after{
content: "";
display: block;
clear: both;
}
li{
	list-style: none;
}
a{
	text-decoration: none;
}
/* body{
 background: linear-gradient(#dedede, #f4e7d4);
} */
body{
	position: relative;
}
header{
	width: 1365px;
	margin: 10px auto;
	overflow: hidden;
}
header .left{
	width: 150px;
	float: left;
}
header .logo{
	display: inline-block;
	width: 95px;
	height: 43px;
	background: url('../image/jinglingtu.png') no-repeat -3px -588px;
}
header .left p{
	margin-top: -18px;
	margin-left: 45px;
}
header .left p a{
	font-size: 14px;
	color: skyblue;
}
header .center{
	width: 670px;
	height: 40px;
	border: 1px solid #ccc;
	float: left;
	margin-left: 30px;
	border-radius: 5px;
}
header .center #select{
	width: 120px;
	height: 40px;
	float: left;
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
	font-size: 18px;
}
header .center .search{
	width: 500px;
	height: 40px;
	float: left;
	font-size: 18px;
	outline: none;
	border: none;
	border: 1px solid #ccc;
}
header .center .tp{
	width: 50px;
	height: 40px;
	background-color: #666;
	float: left;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
}
header .center .tp span{
	display: inline-block;
	width: 40px;
	height: 40px;
	background: url('../image/jinglingtu1.png') no-repeat -30px -280px;
}
header .right{
	float: right;
	width: 400px;
	height: 40px;
	background: url('../image/pic,jpg.bmp') no-repeat;
}
nav{
	width: 1413px;
	height: 80px;
	margin: 10px;
	position: relative;
	background: linear-gradient(#fff,#fff,gray);
	z-index: 10;
}
nav .left{
	width: 128px;
	height: 50px;
	padding: 5px;
	box-sizing: border-box;
	overflow: hidden;
}
nav .left span{
	margin-left: 5px;
	float: left;
	width: 118px;
	height: 50px;
}
nav .left span{
	float: left;
	margin-top: 7px;
	margin-right: 5px;
	display: inline-block;
	width: 20px;
	height: 24px;
	background-image: url('../image/jinglingtu1.png');
	background-position: -209px -336px ;
}
nav .left p a{
	color: #000;
	text-decoration: none;
}
nav .left:hover{
	border: 1px solid #000;
	border-radius: 5%;
}
nav .left1{
	width: 128px;
	float: left;
	position: relative;
	top: -52px;
	left: 124px;
}
nav .left1 p{
	float: left;
	width: 122px;
	margin-right: 5px;
	padding: 5px;
	box-sizing: border-box;
}
nav .left1 b{
	float: left;
	width: 122px;
	margin-right: 5px;
	padding: 5px;
	box-sizing: border-box;
}
nav .left1 p a{
	color: #000;
	font-size: 14px;
	font-weight: 600;
	text-decoration: none;
}
nav .left1 ul li a{
	margin-top: 3px;
	width: 133px;
	height: 30px;
	float: left;
	text-align: center;
}
nav .left1 span{
	display: inline-block;
	width: 20px;
	height: 20px;
	background-image: url('../image/jinglingtu.png');
	background-position: -84px 1px;
	position: absolute;
	top: 39px;
	left: 99px;
}
nav .left1:hover{
	border: 1px solid #ccc;
	border-radius: 5%;
}
nav .left1 a:hover{
	color: #ff8c00;
}
nav .center{
	width: 574px;
	height: 50px;
	position: absolute;
	top: 1px;
	left: 257px;
}
nav .center p {
	float: left;
	width: 122px;
	height: 50px;
	margin-right: 5px;
	padding: 5px;
	box-sizing: border-box;
}
nav .center p a{
	color: #000;
	font-size: 14px;
	font-weight: 600;
	text-decoration: none;
}
nav .center ul li a{
	margin-top: 24px;
	width: 80px;
	height: 30px;
	float: left;
	text-align: center;
}
nav .center span{
	display: inline-block;
	width: 20px;
	height: 20px;
	background-image: url('../image/jinglingtu.png');
	background-position: -84px 1px;
	position: absolute;
	top: 27px;
	left: 90px;
}
nav .center p:hover{
	border: 1px solid #ccc;
	border-radius: 5%;
}
nav .center a:hover{
	color: #ff8c00;
}
nav .account{
	width: 120px;
	height: 45px;
	text-align: center;
	border-right: 1px solid #000;
	position: relative;
	position: absolute;
	top: 14px;
	left: 870px;
}
nav .account .bot{
	display: inline-block;
	background: url('../image/jinglingtu.png') no-repeat -379px -85px;
	width: 15px;
	height: 10px;
	position: absolute;
	top: 23px;
	right: 0px;
}
nav .account .menu{
	position: absolute;
	top: 43px;
	left: 0px;
	z-index: 10;
	width: 120px;
	text-align: center;
	color: #333; 
	display: none;
}
nav .account ul li{
	width: 120px;
	height: 25px;
	border:none;
	line-height: 25px;
	border-top:1px solid #989898;
	background:rgba(10,5,5,0.45);
	border-radius:10px;	
}
nav .free{
	float: left;
	width: 120px;
	height: 45px;
	text-align: center;
	border-right: 1px solid #000;
	position: relative;
	position: absolute;
	top: 14px;
	left: 987px;
}
nav .free .bot{
	display: inline-block;
	background: url('../image/jinglingtu.png') no-repeat -379px -85px;
	width: 15px;
	height: 10px;
	position: absolute;
	top: 23px;
	right: 10px;
}
nav .free ul{
	position: absolute;
	top: 43px;
	left: 0px;
	z-index: 10;
	width: 120px;
	text-align: center;
	color: #333; 
	display: none;
}
nav .free ul li img{
	border: 10px solid #fff;
	box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 0.5);
}
nav .shopcar{
	width: 120px;
	height: 45px;
	float: left;
	position: relative;
	border-right: 1px solid #000;
	position: absolute;
	top: 14px;
	left: 1108px;
}
nav .shopcar p{
	float: right;
	margin-top: 20px;
}
nav .shopcar span{
	display: inline-block;
	background: url('../image/jinglingtu.png') no-repeat -154px -234px;
	width: 50px;
	height: 40px;
	position: absolute;
	top: 0px;
	left: 0px;
}
nav .shopcar .zero{
	position: absolute;
	top: -15px;
	left: 20px;
	font-size: 16px;
	color: orange;
}
nav .wish{
	width: 149px;
	height: 45px;
	float: left;
	position: relative;
	position: absolute;
	top: 14px;
	left: 1231px;
}
nav .wish p{
	text-align: center;
	line-height: 45px;
}
nav .wish .bot{
	display: inline-block;
	background: url('../image/jinglingtu.png') no-repeat -379px -85px;
	width: 15px;
	height: 10px;
	position: absolute;
	top: 20px;
	right: 20px;
}
nav .wish ul{
	display: none;
	position: absolute;
	top: 43px;
	left: 0px;
	z-index: 10;
	width: 120px;
	text-align: center;
	color: #333; 
	display: none;
}
nav .wish ul li{
	width: 149px;
	height: 25px;
	border:none;
	line-height: 25px;
	border-top:1px solid #989898;
	background:rgba(10,5,5,0.45);
	border-radius:10px;	
}
nav .account:hover .menu{
	display:block;
	animation:roll 1.5s ease;
	transform-origin: top center;
}
nav .wish:hover ul{
	display:block;
	animation:roll 1.5s ease;
	transform-origin: top center;
}
@keyframes roll{
	0% {
		transform:rotate(0deg);
	}
	100% {
		transform:rotate(360deg);
	}
}
aside{
	width: 150px;
	box-shadow: 0px 0px 3px 3px rgba(0, 0, 0, 0.4);
	margin-left: 10px;
	position: fixed;
	top: 127px;
	left: 121px;
	z-index: 20;
	display: none;
}
aside{
	width: 150px;
	float: left;
	box-shadow: 0px 0px 3px 3px rgba(0, 0, 0, 0.4);
	margin-left: 10px;
}
a{
	color: #333;
}
aside>ul>li>a{
	color: #fff;
} 
aside>ul{
	background: #303942;
}
.topmenu{
	width: 100%;
	height: 40px;
	text-align: left;
	padding-left: 4px;
	line-height: 40px;
	font-size: 14px;
	font-family: '楷体';
	border-bottom: 2px solid skyblue;
}
.topmenu li>a{
	float: left;
}
aside .submenu{
	width: 700px;
	height: 420px;
	float: left;
	position: absolute;
	top: 5px;
	left: 150px;
	z-index: 5;
	overflow: hidden;
	display: none;
	background-color: #eee;
	box-shadow: 0px 0px 4px 4px rgba(0, 0, 0, 0.5);
	border-left-color: transparent;
}
aside .submenu ul{
	width: 100%;
	overflow: hidden;
	border-bottom: 1px dashed skyblue;	
}
aside .submenu h6{
	font-size: 18px;
	float: left;
	margin-right: 10px;
}
aside .submenu li{
	width: 700px;
	font-size: 14px;
	margin-top: 10px;
}
aside .submenu li a{
	height: 25px;
	width: 100px;
	font-size: 16px;
	float: left;
	text-align: center;
	line-height: 25px;
	margin-right: 20px;
	margin-bottom: 10px;
	border-right: 1px solid red;
}
.side{
	border: 2px solid red;
	border-left: 5px solid red;
	font-size: 16px;
	background-color: yellow;
}
.one1{
	width: 1365px;
	margin: 0px ;
}
.one1 ul{
	float: left;
	margin-left: -110px;
}
.one1 ul li{
	width: 64px;
	height: 30px;
	float: left;
	text-align: center;
	line-height: 30px;
	margin-left: 10px;
	box-sizing: border-box;
}
.one1 ul li a{
	width: 64px;
}
.one1 ul li:hover{
	border-bottom: 2px solid orange;
}
.one1 ul li a:hover{
	color: orange;
}
.pic{
	width: 1413px;
	height: 60px;
	margin: 0px auto;
	margin-top: 1px;
	text-align: center;
	background-color: #ffd0f0;
}
.pic img{
	width: 950px;
	height: 60px;
}
.pic1{
	width: 1413px;
	margin: 0px auto;
	margin-top: 10px;
}
.pic1 .p1{
	float: left;
}
.pic1 .p2{
	float: right;
	margin-right: 30px;
}
.content{
	width: 1413px;
	height: 550px;
	margin: 0px auto;
	overflow: hidden;
	position: relative;
}
.content .ul li{
	float: left;
	width: 64px;
	margin-left: 30px;
	box-sizing: border-box;
	cursor: pointer;
	
}
.content .ul>li:nth-of-type(1){
	border-bottom: 2px solid orange;
}
.content .ul>li:nth-of-type(2):hover{
	border-bottom: 2px solid orange;
}
.content .ul>li:nth-of-type(3):hover{
	border-bottom: 2px solid orange;
}
.content .ul>li:nth-of-type(4){
	float: right;
	margin-right: 10px;
	color: blue;
}
.content .ul li .ul1{
	width: 156px;
	height: 300px;
	overflow: auto;
	position: absolute;
	top: 19px;
	right: 0px;
	background-color: #fff;
	border: 1px solid #ccc;
	display: none;
}
.content .ul li .ul1 li{
	width: 109px;
	font-size: 12px;
	text-align: left;
	margin: 3px 8px;
}
.content .nr1{
	width: 1413px;
	height: 600px;
	margin: 0px auto;
	position: relative;
}
.content .nr1 .btn1{
	width: 30px;
	height: 90px;
	color: #c1c1c1;
	background-color: #fff;
	box-shadow: -2px 1px 0px 0px;
	border: none;
	outline: none;
	border-radius: 5px;
	position: absolute;
	top: 120px;
	left: 20px;
	display: none;
	z-index: 30;
}
.content .nr1 .btn2{
	width: 30px;
	height: 90px;
	color: #c1c1c1;
	background-color: #fff;
	box-shadow: -2px 1px 0px 0px;
	border: none;
	outline: none;
	border-radius: 5px;
	position: absolute;
	top: 120px;
	right: 40px;
	z-index: 30;
}
.content .nr1 .ul1{
	width: 9999px;
	height: 480px;
	border-top: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
	position: relative;
}
.content .nr1 .ul1 li{
	width: 240px;
	height: 500px;
	float: left;
	margin-left: 20px;
	padding: 10px;
	box-sizing: border-box;
}
.content .nr1 .ul1 li:nth-of-type(6n){
	margin-left: 120px;
}
.content .nr1 .ul1 li img{
	margin-left: 15px;
}
.content .nr1 .ul1 li p{
	font-size: 11px!important;
    color: #FFF!important;
    font-weight: 700!important;
    background: #C45500;
    height: 18px;
    max-width: 90%;
    text-align: center;
    display: inline-block;
    vertical-align: middle;
    white-space: nowrap;
    padding: 0 5px;
    float: left;
    overflow: hidden;
    margin-top: 50px;
}
.content .nr1 .ul1 li span{
	display: inline-block;
	width: 220px;
	float: left;
	margin-top: 5px;
}
.content .nr1 .ul1 li b{
	width: 220px;
	float: left;
	font-size: 12px;
	margin-top: 10px;
	font-weight: normal;
}
.content .nr1 .ul1 li a{
	width: 220px;
	font-size: 14px;
	float: left;
	margin-top: 10px;
	color: blue;
}
.content .nr1 .ul1 li button{
	width: 220px;
	height: 30px;
	font-size: 14px;
	margin-top: 10px;
	margin-left: 5px;
	text-align: center;
	line-height: 30px;
	background-color: #f2ca66;
	border: none;
	outline: none;
	border-radius: 5px;
	border: 1px solid #9c7e31;
}
.content1{
	width: 1413px;
	height: 550px;
	margin: 0px auto;
}
.content1 .pic2{
	width: 1413px;
}
.content1 .ul3{
	width: 1413px;
	height: 30px;
}
.content1 .ul3>li:nth-of-type(1){
	float: left;
}
.content1 .ul3>li:nth-of-type(2){
	float: right;
}
.content1 .txt .ul1{
	width: 214px;
	height: 1500px;
	float: left;
	font-size: 14px;
	text-align: left;
	margin: 3px 8px;
	padding-top: 6px;
	padding-left: 12px;
	box-sizing: border-box;
	border: 1px solid #ccc;
}
.content1 .txt .ul1 li a{
	color: blue;
}
.content1 .txt .ul2{
	width: 1182px;
	height: 1500px;
	float: left;
	margin-top: 3px;
	margin-left: -8px;
}
.content1 .txt .ul2 li{
	width: 293px;
	height: 500px;
	border: 1px solid #ccc;
	float: left;
	padding-left: 10px;
	box-sizing: border-box;
	position: relative;
}
.content1 .txt .ul2 li img{
	margin-left: 32px;
	width: 200px;
	height: 200px;
}
.content1 .txt .ul2 li b{
	display: inline-block;
	width: 250px;
	height: 20px;
	margin-top: 70px;
}
.content1 .txt .ul2 li .hr1{
	width: 250px;
	height: 3px;
	background-color: #ccc;
}
.content1 .txt .ul2 li .hr2{
	width: 80px;
	height: 3px;
	background-color: orange;
	position: absolute;
	top: 294px;
	left: 10px;
}
.content1 .txt .ul2 li .left{
	font-size: 12px;
	width: 100px;
	display: inline-block;
	float: left;
	padding-left: 10px;
}
.content1 .txt .ul2 li .right{
	font-size: 12px;
	float: right;
	padding-right: 30px;
	padding-left: 10px;
}
.content1 .txt .ul2 li p{
	width: 290px;
	float: left;
	font-size: 12px;
	padding-left: 10px;
}
.content1 .txt .ul2 li a{
	width: 150px;
	float: left;
	font-size: 14px;
	color: blue;
	text-align: left;
	padding-left: 10px;
}
.content1 .txt .ul2 li a:hover{
	color: orange;
}
.content1 .txt .ul2 li .p1{
	font-size: 14px;
	float: left;
	padding-left: 10px;
	margin-top: 10px;
}
.content1 .txt .ul2 li button{
	width: 220px;
	height: 30px;
	font-size: 14px;
	margin-top: 25px;
	margin-left: 5px;
	text-align: center;
	line-height: 30px;
	background-color: #f2ca66;
	border: none;
	outline: none;
	border-radius: 5px;
	border: 1px solid #9c7e31;
}
.content1 .txt .ul4{
	width: 1413px;
	height: 30px;
	float: left;
	margin: 30px auto; 
}
.content1 .txt .ul4 li{
	width: 60px;
	float: left;
	line-height: 30px;
	text-align: center;
}
.content1 .txt .ul4 button{
	width: 60px;
	float: left;
	line-height: 30px;
	text-align: center;
	margin-right: 10px;
}
.content1 .txt .ul4 button:nth-of-type(1){
	margin-left: 480px;
}
.content4{
        width: 1320px;
        height: 500px;
        margin: 0px auto;
        overflow: hidden;
      }
      .content4 .ul1{
        width: 1320px;
        height: 30px;
        padding-left: 10px;
        box-sizing: border-box;
      }
      .content4 .ul1 h4{
        width: 140px;
        font-size: 18px;
        float: left;
      }
      .content4 .ul1 .p1{
        width: 140px;
        font-size: 18px;
        float: left;
        font-weight: 700;
      }
      .content4 .ul1 .p2{
        float: right;
      }
      .content4 .ul2{
        width: 9999px;
        position: relative;
      }
      .content4>button{
        width: 40px;
        height: 40px;
        font-size: 30px;
        text-align: center;
        line-height: 40px;
        position: relative;
        top: 130px;
      }
      .content4 #left{
        left: 20px;
      }
      .content4 #right{
        left: 1220px;
      }
      .content4 .ul2 li{
        width: 232px;
        height: 380px;
        border: 1px solid #ccc;
        float: left;
        margin-left: 78px;
        margin-top: 10px;
        position: relative;
      }
      .content4 .ul2 li>img{
        width: 150px;
        height: 150px;
        float: left;
        margin-left: 30px;
      }
      .content4 .ul2 li span{
        float: left;
        margin-top: 20px;
      }
      .content4 .ul2 li a{
        margin-left: 15px;
        margin-top: 10px;
        color: #0066c0;
        position: absolute;
        top: 215px;
        left: -4px;
        font-size: 14px;
      }
      .content4 .ul2 li .p3{
        position: absolute;
        font-weight: 600;
        color: #b22a07;
        top: 196px;
        font-size: 18px;
        left: 9px;
      }
      .content4 .ul2 li button{
        width: 220px;
        height: 28px;
        position: absolute;
        top: 340px;
        left: 9px;
        background-color: #f1c760;
        border: none;
        outline: none;
        border-radius: 5px;
        border: 1px solid #ccc;
      }
      .content4 .ul2 li .p4{
        position: absolute;
        top: 300px;
        left: 9px;
      }
      .content6{
        width: 1320px;
        height: 540px;
        margin: 0px auto;
        overflow: hidden;
      }
      .content6 .ul1{
        width: 1320px;
        height: 30px;
        padding-left: 10px;
        box-sizing: border-box;
      }
      .content6 .ul1 h4{
        width: 140px;
        font-size: 18px;
        float: left;
      }
      .content6 .ul1 .p2{
        float: right;
      }
      .content6 .ul1 .p2{
        float: right;
      }
      .content6 .ul2{
        width: 9999px;
        position: relative;
      }
      .content6>button{
        width: 40px;
        height: 40px;
        font-size: 30px;
        text-align: center;
        line-height: 40px;
        position: relative;
        top: 130px;
      }
      .content6 #left1{
        left: 6px;
      }
      .content6 #right1{
        left: 1236px;
      }
      .content6 .ul2 li{
        width: 200px;
        height: 380px;
        border: 1px solid #ccc;
        float: left;
        margin-left: 53px;
        margin-top: 10px;
        position: relative;
      }
      .content6 .ul2 li>img{
        width: 150px;
        height: 150px;
        margin-top: 10px;
        margin-left: 20px;
      }
      .content6 .ul2 li span{
        float: left;
        margin-top: 20px;
        margin-left: 15px;
      }
      .content6 .ul2 li b{
        float: left;
        color: #bd492b;
        margin: 10px;
      }
      .content6 .ul2 li a{
        float: left;
        margin-left: 10px;
      }
      .content6 .ul2 li button{
        width: 149px;
        height: 28px;
        position: absolute;
        top: 320px;
        left: 20px;
        background-color: #f1c760;
        border: none;
        outline: none;
        border-radius: 5px;
        border: 1px solid #ccc;
      }
      .content6 .ul2 li p{
        position: absolute;
        top: 354px;
        left: 20px;
      }
     .content7{
        width: 1413px;
    }
    .content7 img{
        width: 100%;
    }
    .content8{
        width: 1320px;
        padding: 10px;
        box-sizing: border-box;
        margin-bottom: 10px;
    }
    .content8 ul{
        width: 1320px;
    }
    .content8 ul li{
    	width: 180px;
    	height: 150px;
    	float: left;
    	text-align: center;
    }
    .content8 ul li img{
    	width: 120px;
    	height: 120px;
    }
    .content8 ul li a{
    	width: 180px;
    	float: left;
    	color: blue;
    }
    .content8 ul li p{
    	font-size: 12px;
    }
 footer{
  width: 1450px;
}
footer a{
  color: blue;
}
footer .login{
  width: 100%;
  border-top: 1px solid #666;
  border-bottom: 1px solid #666;
}
footer .login>p{
  color: #666;
}
footer .login li{
  width: 250px;
  text-align: center;
  font-size: 14px;
  overflow: hidden;
  margin: 10px auto;
}
footer .login ul li a:nth-of-type(1){
  display: inline-block;
  width: 200px;
  height: 30px;
  text-align: center;
  color: #000;
  line-height: 30px;
  border-radius: 5px;
  background: linear-gradient(#ffd774,#ffc530);
}
footer .login li p:nth-of-type(2){
  float: left;
  margin-left: 70px;
  margin-right: 10px;
}
footer .login li a:nth-of-type(2){
  float: left;
}


footer .about{
  width: 1000px;
  margin: 0px auto; 
  overflow: hidden;
  text-align: left;
}
footer .about a{
  display: inline-block;
  font-size: 14px;
  width: 200px;
}
footer .about ul{
  width: 200px;
  float: left;
  margin-right: 30px;
}
footer .about p{
  margin-bottom: 10px;
}

footer .other{
  width: 1450px;
}
footer .other .title{
  text-align: center;
}
footer .other .one{
  width: 100%;
  text-align: center;
  overflow: hidden;
  margin: 10px auto;
}
footer .other .one ul{
  text-align: center;
  float: left;
  line-height: 14px;
}
footer .other .one ul:nth-of-type(1){
  margin-left: 100px;
}
footer .other .one ul li{
  display: inline;
  border-left: 1px solid #666;
  padding: 0px 5px;
  font-size: 12px;
}
footer .other .one ul li:nth-of-type(1){
  border: none;
}
footer .other .one span{
  display: inline-block;
  padding: 0px 10px;
  text-align: center;
  font-size: 12px;
  float: left;
  color: #767676;
}
footer .other .one ul:nth-of-type(2) li:nth-of-type(4){
  color: #767676;
}


footer .other .two{
  width: 100%;
  text-align: center;
  overflow: hidden;
  margin: 10px auto;
}
footer .other .two ul{
  text-align: center;
  float: left;
  line-height: 14px;
}
footer .other .two ul{
  margin-left: 450px;
}
footer .other .two ul:nth-of-type(2){
  width: 0px;
  height: 0px;
}
footer .other .two ul li{
  display: inline;
  border-left: 1px solid #666;
  padding: 0px 5px;
  font-size: 12px;
}
footer .other .two ul li:nth-of-type(1){
  border: none;
}
footer .other .two span{
  display: inline-block;
  padding: 0px 10px;
  text-align: center;
  font-size: 12px;
  float: left;
  color: #767676;
}


footer .other .three{
  width: 100%;
  text-align: center;
  overflow: hidden;
  margin: 10px auto;
}
footer .other .three ul{
  text-align: center;
  float: left;
  line-height: 14px;
  margin-left: 480px;
}
footer .other .three ul li{
  display: inline;
  border-right: 1px solid #666;
  padding: 0px 5px;
  font-size: 12px;
}
footer .other .three ul li:nth-of-type(2){
  border: none;
}
footer .other .three ul li img{
  vertical-align: top;
}

footer .other .four{
  width: 100%;
  text-align: center;
  overflow: hidden;
  margin: 10px auto;
}
footer .other .four ul{
  text-align: center;
  float: left;
  line-height: 14px;
  margin-left: 670px;
}
footer .other .four ul li{
  display: inline;
  padding: 0px 5px;
  font-size: 12px;
}

footer .other .five{
  width: 100%;
  text-align: center;
  overflow: hidden;
  margin: 10px auto;
}
footer .other .five ul{
  text-align: center;
  float: left;
  line-height: 14px;
  margin-left: 550px;
}
footer .other .five ul li{
  display: inline;
  border-right: 1px solid #666;
  padding: 0px 5px;
  font-size: 12px;
  color: #767676;
}
footer .other .five ul li:nth-of-type(2){
  border: none;
}